Team 8 三国杀联赛规则

1 赛制
- 比赛采用联赛积分形式。
- 每半年为一个赛季，每周一轮，共计26轮。
- 比赛时间预定为北京时间周六21：00到23：00。可根据出席情况调整。

2 形式
- 比赛采用在线三国杀（web.sanguosha.com）结合多人语音聊天（QQ，微信或skype）。
- 每轮比赛满五开打。根据人数，可选择五人身份局，八人身份局，3V3等。（国战尚未支持）
- 如果出席人数不能全部进入同一局游戏，如7人。则上一轮胜者中积分最高的观赛一局。

3 积分
- 每一局胜者积3分，败者积1分。未参加者不积分。
- 积分除了比赛获得外，某些玩家技也能影响积分。

4 奖惩
- 每名玩家于赛季初交纳人民币500元（或等值外币）作为联赛基金。玩家技可影响交纳金额。
- 每赛季结束时，积分最高者为冠军，奖励最新款iphone一台（或由冠军指定的等价奖品）。
- 如果仍有基金剩余，则由胜率最高和出场最多的玩家平分。
- 积分最低者，惩罚请客吃饭。
- 出勤最少者，惩罚喝酱一碗。

5 玩家技
- 玩家技独立于原有的武将技，主要作用为增添游戏乐趣，影响联赛积分。
- 玩家技分为通用技，专用技和绑定技。
- 通用技。每名玩家均可发动。
- 专用技。每轮联赛开始时，按照当前积分倒序，每名玩家选择一个技能作为其本轮联赛的专用技，其他玩家不能发动。
- 绑定技。绑定特定玩家的技能。
- 各项技能由玩家提议，评估，选举。
- 联赛开始前，由玩家投票选出10项通用技，10项专用技作为该赛季可用技能。落选技能将存入技能库在下赛季重新选举。

6 战功
- 游戏中的行为和游戏结果都会影响战功
- 战功是武将DIY系统的流通货币

7 武将DIY系统
- 初始DIY规则：
- 赛季开始前，每个人会获得一个和自己同名的5血素将
- 赛季开始前，将选出X（X=游戏玩家数×1.5）个技能作为待选技能，待选技能来源是：游戏中现有武将的技能和一些新添加的特殊技能
- 待选技能以攻击型的为主，包含一部分防御技能，理论上不含回血技能，已增加游戏刺激度和加快游戏速度。
- 根据待选技能的强弱，每个技能会有一个扣血修正：比如刚烈=-1血，制衡=-1.3血；另外可能会有增加血量的负属性技能。
- 赛季开始前，进行一次技能拍卖（拍卖规则后述），每个人最多可以给自己的武将加上3个技能
- 赛季中将进行两次技能补拍，每次提供约Y（Y=游戏玩家数×0.5）个技能+上轮拍卖剩余的技能
- 每次拍卖后，如果流拍的技能大于2个，则立即安排一次补拍
- 每个DIY武将的技能数量无上限，血能不能为负待定（如果有不屈技能，另外有4个技能，上来就是0血，是不是过于变态了？）
- 每个加上的技能，会扣除相应的血量，如果最后的血量有小数，则四舍五入。
- 技能转让规则：
- 赛季中安排3～4次技能转让交易
- 交易使用的货币是战功
- 技能交易前，先举行一次战功转让交易，使用的货币是积分（积分战功转让具体规则待定）
- 转让方式为转出方提出一次有底价拍卖，所有玩家可以按拍卖规则进行拍卖，如果拍卖成功，系统会收取一定的手续费（30%）
- DIY武将使用规则：
- DIY武将会混在武将牌中进行发牌，也就是说，你不能保证能每次都拿到自己的武将
- 任何人可以在选将阶段选择任何人的DIY武将
- 获胜方的DIY武将在游戏结束时，可以获得额外的积分，积分规则：使用非本人DIY武将获胜，武将所属人积分加50%获胜积分;本人使用DIY武将获胜后，积分增加100%
- 理论上，DIY武将可以被带入下一个赛季，但可能需要做出技能扣血比例的调整，具体规则待定
- 理论上，一个人可以拥有多个DIY武将，在合适的情况下，可以开放第二武将的拍卖。
- 理论上不允许在双将规则下同时使用2个DIY武将

8 拍卖规则
- 拍卖使用次高价拍卖规则，简单的说就是密封投标，最高出价人得标，按次高出价+1付费。同价情况按出价先为胜。单人投标，按低价付费。
- 比如：现有刚烈，制衡、不屈、仁德四个个技能，每个技能低价都是5战功，拍卖分2轮，同时投标。
- lulu、板板、戅戅参与投标，每人都有20战功
- lulu出价刚烈15、制衡5
- 板板出价刚烈10、不屈10
- 戅戅出价不屈15、制衡5
- 第一轮：刚烈lulu出价最高，按次高的板板的出价+1=11获得刚烈；不屈只有戅戅投标，刚刚按最低价5获得不屈
- 第二轮：制衡lulu戅戅出价一样，lulu先出价，按5战功获得制衡;不屈在第一轮已经拍走，结束
- 结果：lulu花费16战功得到刚烈，制衡；戅戅花费5战功获得不屈；板板没有拍卖到任何东西;仁德流拍
- 补充规定：
- 如果技能是由玩家发起的拍卖，拍卖结束后，按实际支付价格的30%扣除手续费