
Team 8 三国杀联赛规则

1 赛制
- 比赛采用联赛积分形式。
- 每半年为一个赛季，每周一轮，共计26轮。
- 比赛时间预定为北京时间周六21：00到23：00。可根据出席情况调整。

2 形式
- 比赛采用在线三国杀（web.sanguosha.com）结合多人语音聊天（QQ，微信或skype）。
- 每轮比赛满五开打。根据人数，可选择五人身份局，八人身份局，3V3等。（国战尚未支持）
- 如果出席人数不能全部进入同一局游戏，如7人。则上一轮胜者中积分最高的观赛一局。

3 积分
- 每一局胜者积3分，败者积1分。未参加者不积分。
- 积分除了比赛获得外，某些玩家技也能影响积分。

4 奖惩
- 每名玩家于赛季出交纳人民币500元（或等值外币）作为联赛基金。玩家技可影响交纳金额。
- 每赛季结束时，积分最高者为冠军，奖励最新款iphone一台（或由冠军指定的等价奖品）。
- 如果仍有基金剩余，则由胜率最高和出场最多的玩家平分。
- 积分最低者，惩罚请客吃饭。
- 出勤最少者，惩罚喝酱一碗。

